@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #222;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #444;
}

.nav-link a {
  display: inline;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-link form {
  display: table;
  float: left;
  text-decoration: none;
  background: #555555;
  border-radius: 1px;
  width: 400px;
  height: 40px;
  margin: 5px;
}

.nav-link form input {
  display: table-cell;
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 0 0 16px;
  border: none;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: white;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
  -webkit-appearance: none;
}

.nav-link form:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
.nav-link form input::placeholder {
  color: white;
}

.nav-link form input::placeholder:hover {
  color: black;
}

.nav-link.first a{
  margin-left: 5%;
}

.nav-link.right a {
  float: right;
}

.nav-link.right.last a{
  margin-right: 5%;
}

.nav-link a:hover {
  background-color: #111;
}

.nav-link a.active {
  border-bottom: 4px solid orangered;
}

.hidden {
  display: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
  overflow: hidden; 
}